In [5]:
from bs4 import BeautifulSoup
from lat_lon import *
import pandas as pd

In [6]:
mun_data = 'df.html'

In [7]:
soup = BeautifulSoup(open(mun_data, encoding='Latin1').read(), 'lxml')

In [8]:
tables = soup.find_all('table')

In [39]:
def string2geocoord(string):
    coord = re.sub('S|N|E|W', '.', string)    
    if 'S' in string or 'W' in string:
        return '-' + coord
    else:
        return coord

In [9]:
def is_company_data(table):
    return tb.find('label').get('id') == 'labelNúmero/Nome'

def is_erb_data(table):
    return tb.find('label').text == 'Estação'

In [52]:
data = {}
converters = {'Estação': str}

for tb in tables:
    if is_company_data(tb):
        company_id = tb.find('label').text        
        company_number = company_id[:7].strip()
        company_name = company_id[10:].strip()
        company_sgl = company_name.split(' ')[0]
        print(company_sgl)
    else:
        if is_erb_data(tb):
            HTML = str(tb)
            df = pd.read_html(HTML, header=0, converters=converters)[0]
            df.insert(0, 'nom_operadora', company_name)
            df.insert(0, 'sgl_operadora', company_sgl)
            df.insert(0, 'num_operadora', company_number)            
            data[company_name] = df

NEXTEL
OI
TIM
TELEFÔNICA
CLARO

In [53]:
df = pd.concat(data[i] for i in data)
df.Latitude = df.Latitude.map(string2geocoord)
df.Longitude = df.Longitude.map(string2geocoord)
df.head()

,num_operadora,sgl_operadora,nom_operadora,Estação,Nome,UF,Município,Bairro,Logradouro,Latitude,Longitude,Data Cadastro,Data 1º Lic.,Última Licença
0,4152433,NEXTEL,NEXTEL TELECOMUNICACOES LTDA,697166228,DFCBSA051OU,DF,Brasília,SETOR DE HABITACOES INDIVIDUAIS SUL,SHIS QI 29 A AREA ESPECI S/N - nº S/N,-15.483474,-47.480114,19/04/2012,05/06/2012,17/05/2013
1,4152433,NEXTEL,NEXTEL TELECOMUNICACOES LTDA,697368394,DFCBSA002OU,DF,Brasília,SETOR DE HABITACOES INDIVIDUAIS NORTE,SHIN QI 5 - nº S/N,-15.435404,-47.515346,11/05/2012,05/06/2012,17/05/2013
2,4152433,NEXTEL,NEXTEL TELECOMUNICACOES LTDA,697368416,DFCBSA004OU,DF,Brasília,ASA NORTE,CLN 309 BLOCO D - nº S/N,-15.454456,-47.532337,11/05/2012,05/06/2012,18/04/2013
3,4152433,NEXTEL,NEXTEL TELECOMUNICACOES LTDA,697368459,DFCBSA006OU,DF,Brasília,ASA AZUL,Av. das Nações - nº S/N,-15.480414,-47.504491,11/05/2012,05/06/2012,17/04/2013
4,4152433,NEXTEL,NEXTEL TELECOMUNICACOES LTDA,697368467,DFCBSA007OU,DF,Brasília,SETOR MEDICO HOSPITALAR NORTE,SMHN SETOR - nº S/N,-15.470192,-47.530779,11/05/2012,05/06/2012,29/11/2012

In [23]:
latlgn = claro[['Latitude', 'Longitude']]

In [40]:
latlgn.Longitude.map(string2geocoord)

0      -47.575759
1      -47.444596
2      -47.483096
3      -48.030676
4      -48.082501
5      -47.554871
6      -47.551920
7      -47.515580
8      -48.122880
9      -47.544428
10     -47.521739
11     -47.524620
12     -47.523575
13     -47.533084
14     -47.533372
15     -47.531896
16     -47.535028
17     -47.520156
18     -47.551596
19     -47.514355
20     -47.283179
21     -47.511475
22     -48.031440
23     -47.581203
24     -48.021608
25     -47.570000
26     -48.064140
27     -47.534955
28     -48.060432
29     -47.550588
          ...
379    -47.480500
380    -47.481332
381    -47.511476
382    -47.485475
383    -47.413674
384    -47.555786
385    -48.050373
386    -47.472017
387    -47.463274
388    -47.530672
389    -47.530672
390    -47.460629
391    -47.530672
392    -47.530672
393    -47.530672
394    -47.530672
395    -47.495721
396    -48.092255
397    -47.532749
398    -47.494644
399    -47.582155
400    -47.533375
401    -47.470471
402    -47.554744
403    -47.430886
404    -47.430885
405    -47.383810
406    -47.492470
407    -48.101729
408    -47.404580
Name: Longitude, Length: 409, dtype: object